package component

type HomeComponetData struct {
	Global int
	User   int
}

templ Home(data HomeComponetData) {
	@html()
}

templ html() {
	<html>
		@head("Home")
		@body()
	</html>
}

templ body() {
	<body>
		@Navbar()
		@Footer()
	</body>
}

templ a(class string, href string, contents string) {
	<a class={ class } href={ templ.SafeURL(href) }>
		{ contents }
	</a>
}
